/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
	background-color: black;
}

/* ---------------------------------------------------- */

.kontakty {
	background-color: white;
	justify-content: center;
	padding-bottom: 2rem;
}

.container {
	background-color:#E0E5E3;
	display:flex;
	justify-content: space-around;
	border-radius: 1%;
	margin-right: 5%;
	margin-left: 5%;
}

.foto {
	width: 150px;
	border-radius: 50%;
}

.Jarmila,
.Klotylda,
.Lucie,
.Lucinda {
	background-color: white;
	width: 22%;
	margin:2rem;
	padding:2rem;
	justify-content: center;
	text-align: center;
	border-radius: 10%;
	length: 300px;
}

.linkedin,
.twitter,
.github {
	height: 35px;
	width: 35px;
}

